In [0]:
# Classification template

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
from google.colab import files
uploaded = files.upload()

Saving cc_1k.csv to cc_1k.csv

In [4]:
# Importing the dataset
data = pd.read_csv('cc_1k.csv')
data

       Time        V1        V2        V3  ...       V27       V28  Amount  Class
0       251  1.071813 -0.249927  0.189825  ... -0.101425  0.022797  120.00      0
1       311  1.182238 -0.147518  1.248518  ...  0.017962  0.027611    8.58      0
2       406 -2.312227  1.951992 -1.609851  ...  0.261145 -0.143276    0.00      1
3       472 -3.043541 -3.157307  1.088463  ... -0.252773  0.035764  529.00      1
4      2557 -0.628458  0.695314  2.580943  ...  0.199298 -0.076206    5.26      0
..      ...       ...       ...       ...  ...       ...       ...     ...    ...
993  169966 -3.113832  0.585864 -5.399730  ...  0.884876 -0.253700  245.00      1
994  170173  2.040759  0.212604 -1.475151  ... -0.058469 -0.024260    0.89      0
995  170348  1.991976  0.158476 -2.583441  ...  0.002988 -0.015309   42.53      1
996  172255  1.763899 -0.740882 -0.450826  ...  0.053287 -0.027273  112.59      0
997  172422  1.134958 -3.165261 -3.303764  ... -0.207241  0.007318  665.70      0

[998 rows x 31 columns]

In [0]:
X = data.iloc[:, :-1].values
y = data.iloc[:, [30]].values

In [0]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [0]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:
# Fitting classifier to the Training set
# Create your classifier here
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [9]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9545454545454546
Testing Data Score: 0.9

In [11]:
#Random forrest 
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.908

In [12]:
feature_names = data.columns
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.22011726932020242, 'V14'),
 (0.11514403699691264, 'V10'),
 (0.09684857984363855, 'V4'),
 (0.08819926191159982, 'V12'),
 (0.07617080791485534, 'V11'),
 (0.07184294800534081, 'V17'),
 (0.05584567818944288, 'V3'),
 (0.0349154524445246, 'V16'),
 (0.0338570328841928, 'V7'),
 (0.02719847026363186, 'V9'),
 (0.02356313582778358, 'V2'),
 (0.013816146890543607, 'V19'),
 (0.0134552354398007, 'Amount'),
 (0.010761207317248058, 'V18'),
 (0.010661676614253133, 'V20'),
 (0.010478449066022143, 'V6'),
 (0.009840005982780413, 'V21'),
 (0.009301562554559566, 'V1'),
 (0.008924311758118628, 'V27'),
 (0.008405039993924486, 'V13'),
 (0.0077558686955063036, 'V23'),
 (0.007576675920853853, 'V5'),
 (0.007487882381268121, 'V8'),
 (0.006912607198722369, 'V28'),
 (0.006578040083659546, 'V25'),
 (0.006419453624248435, 'V26'),
 (0.004976757889468036, 'Time'),
 (0.004769396770120005, 'V15'),
 (0.0045111039987554, 'V24'),
 (0.0036659042180219327, 'V22')]

In [13]:
# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [14]:
# Model Accuracy
print('Test Acc: %.3f' % model.score(X_test, y_test))

Test Acc: 0.896

In [0]:
target = data["Class"]
target_names = ["negative", "fraud"]

In [16]:
dataset = data.drop("Class", axis=1)
feature_names = data.columns
dataset.head()

   Time        V1        V2        V3  ...       V26       V27       V28  Amount
0   251  1.071813 -0.249927  0.189825  ...  1.056073 -0.101425  0.022797  120.00
1   311  1.182238 -0.147518  1.248518  ...  0.315896  0.017962  0.027611    8.58
2   406 -2.312227  1.951992 -1.609851  ...  0.177840  0.261145 -0.143276    0.00
3   472 -3.043541 -3.157307  1.088463  ... -0.145362 -0.252773  0.035764  529.00
4  2557 -0.628458  0.695314  2.580943  ... -0.102193  0.199298 -0.076206    5.26

[5 rows x 30 columns]

In [0]:
#Re fit the data
X_train, X_test, y_train, y_test = train_test_split(dataset, target, random_state=42)

In [17]:
# Calculate classification report
from sklearn.metrics import classification_report
predictions = model.predict(X_test)
print(classification_report(y_test, predictions,
                            target_names=target_names))

              precision    recall  f1-score   support

    negative       0.88      0.92      0.90       132
       fraud       0.91      0.86      0.89       118

    accuracy                           0.90       250
   macro avg       0.90      0.89      0.90       250
weighted avg       0.90      0.90      0.90       250