In [0]:
# Classification template

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [65]:
from google.colab import files
uploaded = files.upload()

Saving cc_5k.csv to cc_5k.csv

In [66]:
# Importing the dataset
data = pd.read_csv('cc_5k.csv')
data

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
0         44 -0.899992  0.136255  1.883665  ... -0.106776 -0.190476   21.55      0
1         46 -0.378245  0.732925 -0.120154  ...  0.411372  0.202788   11.45      0
2        121 -0.868565  0.684978  2.013745  ...  0.180521  0.044404   29.99      0
3        251  1.071813 -0.249927  0.189825  ... -0.101425  0.022797  120.00      0
4        311  1.182238 -0.147518  1.248518  ...  0.017962  0.027611    8.58      0
...      ...       ...       ...       ...  ...       ...       ...     ...    ...
4994  172482  0.125846  0.988664 -0.406917  ...  0.216491  0.084999   14.99      0
4995  172589  0.168395 -0.101599  0.482358  ...  0.079419  0.119934    0.01      0
4996  172592  1.840022  0.241845 -2.137548  ... -0.029759 -0.041913   46.21      0
4997  172674  2.036579 -0.053676 -1.064686  ... -0.069755 -0.056412   14.99      0
4998  172716 -3.240505 -2.799345  1.749777  ... -0.030580 -0.501609   52.00      0

[4999 rows x 31 columns]

In [0]:
X = data.iloc[:, :-1].values
y = data.iloc[:, [30]].values

In [0]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [0]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [70]:
# Fitting classifier to the Training set
# Create your classifier here
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [71]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9837289943985063
Testing Data Score: 0.988

In [73]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test.tolist()}).reset_index(drop=True)

      Prediction Actual
0              0    [0]
1              0    [0]
2              1    [1]
3              0    [0]
4              0    [0]
...          ...    ...
1245           0    [0]
1246           0    [0]
1247           0    [0]
1248           0    [0]
1249           0    [0]

[1250 rows x 2 columns]

In [74]:
#Random forrest 
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.9896

In [76]:
feature_names = data.columns
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.1800798989955257, 'V14'),
 (0.1387775177756095, 'V10'),
 (0.12963031638171846, 'V17'),
 (0.10365593896911858, 'V12'),
 (0.07064963387685136, 'V11'),
 (0.054675582850082054, 'V16'),
 (0.04356577690921599, 'V4'),
 (0.04242966495694679, 'V3'),
 (0.03856883934608641, 'V7'),
 (0.02790111884590466, 'V9'),
 (0.021131636027152467, 'V18'),
 (0.014121788480403491, 'V2'),
 (0.012801867232252791, 'V6'),
 (0.012495993401775277, 'V21'),
 (0.01154298008330043, 'Amount'),
 (0.010643084411311598, 'V19'),
 (0.008496407385401519, 'V1'),
 (0.007773972480209643, 'V8'),
 (0.007638403489940732, 'V5'),
 (0.00762351489949362, 'V13'),
 (0.0076186391679716955, 'V26'),
 (0.006442536606997286, 'V15'),
 (0.006218461369235261, 'V20'),
 (0.00619512669998038, 'Time'),
 (0.005335470802095001, 'V22'),
 (0.00525677505571557, 'V23'),
 (0.0052290215774871175, 'V27'),
 (0.004972106193058087, 'V24'),
 (0.004336549962547575, 'V25'),
 (0.004191375766610944, 'V28')]

In [77]:
# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [78]:
# Model Accuracy
print('Test Acc: %.3f' % model.score(X_test, y_test))

Test Acc: 0.988

In [0]:
target = data["Class"]
target_names = ["negative", "positive"]

In [81]:
dataset = data.drop("Class", axis=1)
feature_names = data.columns
dataset.head()

   Time        V1        V2        V3  ...       V26       V27       V28  Amount
0    44 -0.899992  0.136255  1.883665  ...  0.412659 -0.106776 -0.190476   21.55
1    46 -0.378245  0.732925 -0.120154  ... -0.237620  0.411372  0.202788   11.45
2   121 -0.868565  0.684978  2.013745  ...  0.423221  0.180521  0.044404   29.99
3   251  1.071813 -0.249927  0.189825  ...  1.056073 -0.101425  0.022797  120.00
4   311  1.182238 -0.147518  1.248518  ...  0.315896  0.017962  0.027611    8.58

[5 rows x 30 columns]

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(dataset, target, random_state=42)

In [86]:
# Calculate classification report
from sklearn.metrics import classification_report
predictions = model.predict(X_test)
print(classification_report(y_test, predictions,
                            target_names=target_names))

              precision    recall  f1-score   support

    negative       0.88      1.00      0.94      1104
    positive       1.00      0.01      0.03       146

    accuracy                           0.88      1250
   macro avg       0.94      0.51      0.48      1250
weighted avg       0.90      0.88      0.83      1250